/*
Author: Charles Mcgregory
Description: As the name implies, this is a barebones wordpress theme created with the purpose of getting a deeper understanding of how theme creation works.
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html

Spartan is distributed under the terms of the GNU GPL
*/
